*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*roots variable*/
:root {
    --primaryColor: #386E72;
    --secondaryColor: #95C5C8;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainGreen: #028a0f;
    --bodyColor: #f6f6f6;
    --mainRed: 	#FF0000;
    --mainpeach: #f0C0AA;
}
body{
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
    background-color: var(--bodyColor);
    position: relative;
}
/*sidebar*/
.side-bar{
    top: 0;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.side-bar h3{
    width: 300px;
    padding: 1rem  0 0 1rem;
    color: var(--mainGrey);
}
.search{
    border: var(--mainGrey) 1px solid;
    width: 15rem;
    height: 2.2rem;
    border-radius: 12px;
    margin: 10px;
    padding: 1rem;
}
.searchicon{
    background-color: var(--secondaryColor);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 13.5rem;
    top: 2.65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer;   
}
.btn-primary{
    width: 4rem;
    height: 1.5rem;
    border: none;
    border-radius: 10rem;
    margin: 0.75rem;
    background-color: var(--mainpeach) ;
    cursor: pointer;
}
.product-img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    padding: 3px;
}
.one{
    border-bottom: 2px solid var(--bodyColor);

}
.image{
    display: flex;
    justify-content: center;
}
.single-product{
    background: var(--mainWhite);
    width: 270px;
    height: 460px;
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.1);
}
.product-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
}
.product-desc span{
    color: var(--mainGreen);
    border: 2px solid var(--mainGreen);
    cursor: pointer;
}
.product-desc h5{
    color: var(--mainGrey);
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 4rem;
}
.two{
    margin: 5rem 0 1rem;
    display: grid;
    grid-template-columns: 300px 1fr;

}
header{
    background-color: var(--mainpeach);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1;
}

.fa-user{
    color: var(--primaryColor);
    cursor: pointer;
}
.fa-shopping-cart{
    color: var(--primaryColor);
    cursor: pointer;
}
.fa-bars{
    color: var(--primaryColor);
    cursor: pointer;
}
.header{
    display: flex;
    align-items: center;
}







/*footer*/
.main-footer{
    background-color: var(--primaryColor);
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
}
.footer__item{
    padding: 3rem;
}
.footer__item a{
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color:  var(--secondaryColor);
}
.footer__icons{
    color: var(--mainpeach);
}
.fa{
    margin: 1rem;
}
.footer-items{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}